.message-form-container {
    max-width: 900px;
    margin: 30px auto;
    overflow: auto;
    min-height: 150px;
    border: 1px solid steelblue;
    padding: 20px;
    border-radius: 5px;
  }

.form-message {
    margin: 10px 10px;
    padding: 10px;
    width: 90%;
    height: 70px;
}

.form-message input {
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
} */

.form-group {
    margin: 10px;
}

.message-inbox {
    border: 1px solid rgb(247, 205, 186);
    padding: 25px;
    border-radius: 0.5rem;
    margin: 0 25%;
    flex-basis: 50%;
}

.inbox-message {
    padding: 5px;
    margin: 5px;
    margin-left: 20px;
    min-height: 70px;
    border-radius: 0.2rem;
    background-color: rgb(249, 234, 227);
}

.btn-secondary {
    display: inline-block;
    background: rgb(230, 201, 201);
    color: #fff;
    border: none;
    padding: 5px 2px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.btn-secondary:hover {
    padding: 6px 3px;
    transition: all 0.3s ease-out;
    background-color: wheat;
    color: purple;
    transition: 250ms;
}

.edit-link {
    text-decoration: none;
}