.btn {
    display: inline-block;
    background: rgb(230, 201, 201);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.btn:hover {
    padding: 12px 22px;
    transition: all 0.3s ease-out;
    background-color: wheat;
    color: purple;
    transition: 250ms;
}


.btn:active {
    transform: scale(0.98);
  }

  