.NavBarItems {
    background: linear-gradient(90deg, rgb(231, 182, 182) 0%, rgb(230, 201, 201) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-logo {
    color: aliceblue;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-links:hover {
    background-color: rgb(231, 182, 182);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-home {
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

